<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Chatbot</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Laila' ;" class="bg-[#0A525A] h-screen">
    <div class="h-full">
        <div class="w-full h-20 bg-[#F29F05] flex justify-end items-center px-10 gap-20">
            <a href="#" class="flex gap-1 text-white p-2 rounded-lg w-40 items-center justify-center whitespace-nowrap">
                <img src="./icon/dashboard.png" alt="" class="h-8 w-8">
                <p>Dashboard</p>
            </a>
            <a href="#" class="flex items-center gap-1 text-white">
                <div class="h-8 w-8 rounded-full bg-[#0A525A]"></div>
                <img src="./icon/logout.png" alt="" class="h-6 w-6 object-cover">
                <p>Logout</p>
            </a>
        </div>
        <div class="p-10">
            <div class="rounded-2xl bg-[#E7E6E6] relative">
                <div
                    class="border-b border-black py-5 absolute top-0 w-full bg-[#E7E6E6] rounded-t-2xl drop-shadow-2xl">
                    <h1 class="text-xl font-semibold text-[#0A525A] text-center">CHATBOT</h1>
                </div>
                <div class="p-4 pt-20">
                    <div class="flex flex-col py-10">
                        <div class="flex justify-end items-end gap-3">
                            <div>
                                <p class="text-[10px] font-thin ml-3">Your name</p>
                                <p class="bg-[#0A525A] p-2 rounded-2xl text-white font-thin">Your message goes here</p>
                            </div>
                            <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-12 w-12 rounded-full object-cover">
                        </div>

                        <div class="flex justify-start items-end gap-3">
                            <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-12 w-12 rounded-full object-cover">
                            <div>
                                <p class="text-[10px] font-thin ml-3">Your name</p>
                                <p class="bg-[#0A525A] p-2 rounded-2xl text-white font-thin">Your message goes here</p>
                            </div>
                        </div>

                        <div class="flex justify-end items-end gap-3">
                            <div>
                                <p class="text-[10px] font-thin ml-3">Your name</p>
                                <p class="bg-[#0A525A] p-2 rounded-2xl text-white font-thin">Your message goes here</p>
                            </div>
                            <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-12 w-12 rounded-full object-cover">
                        </div>

                        <div class="flex justify-start items-end gap-3">
                            <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-12 w-12 rounded-full object-cover">
                            <div>
                                <p class="text-[10px] font-thin ml-3">Your name</p>
                                <p class="bg-[#0A525A] p-2 rounded-2xl text-white font-thin">Your message goes here</p>
                            </div>
                        </div>

                        <div class="flex justify-end items-end gap-3">
                            <div>
                                <p class="text-[10px] font-thin ml-3">Your name</p>
                                <p class="bg-[#0A525A] p-2 rounded-2xl text-white font-thin">Your message goes here</p>
                            </div>
                            <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-12 w-12 rounded-full object-cover">
                        </div>

                        <div class="flex justify-start items-end gap-3">
                            <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-12 w-12 rounded-full object-cover">
                            <div>
                                <p class="text-[10px] font-thin ml-3">Your name</p>
                                <p class="bg-[#0A525A] p-2 rounded-2xl text-white font-thin">Your message goes here</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-2xl w-full flex justify-between items-center py-2 px-5">
                        <input type="text" class="w-full rounded-l-2xl" placeholder="Type a message...">
                        <img src="./icon/send.png" alt="" class="w-8 h-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>