<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Laila' ;" class="bg-[#0A525A] h-screen">
    <div class="grid grid-rows-6 h-full">
        <div class="row-span-1 bg-[#E4990D] text-center relative flex flex-col items-center justify-center">
            <h1 class="text-2xl font-bold text-[#0A525A]">Pencegahan dan Penanganan <br>
                Kekerasan Seksual Di Civitas Akademika</h1>
            <div class="absolute top-4 right-4 flex gap-3 items-center">
                <p class=" text-white text-lg font-semibold">Hi, User</p>
                <img src="C:\xampp\htdocs\ProjectMISB\static\img\profile.jpg" alt="" class="h-8 w-8 rounded-full object-cover">
            </div>
        </div>
        <div class="row-span-5 relative grid grid-cols-5 gap-4 px-[50px]">
            <div class="absolute top-0 left-0 h-20 w-full -z-50 bg-gradient-to-b from-black"></div>
            <div class="col-span-2 space-y-10 pt-10">
                <a href="#"
                    class="flex gap-1 bg-[#3C8C95] text-white p-2 rounded-lg w-40 items-center justify-center whitespace-nowrap">
                    <img src="./icon/dashboard.png" alt="" class="h-8 w-8">
                    <p>Dashboard</p>
                </a>
                <a href="#" class="flex gap-2 items-center">
                    <img src="./icon/survey.png" alt="" class="h-8 w-8">
                    <p class="text-white bg-[#E4990D] p-2 rounded-lg" a href="rs.html">Recommender System</p></a>
                </a>
                <a href="#" class="flex gap-2 items-center">
                    <img src="./icon/chatbot.png" alt="" class="h-8 w-8">
                    <p class="text-white bg-[#E4990D] p-2 rounded-lg">Need help? Ask me</p>
                </a>
            </div>
            <div class="col-span-3 text-white pt-10">
                <p>Website ini hadir untuk membantu para korban
                    kekerasan seksual di civitas akademika juga bertujuan
                    untuk mencegah terjadinya kekerasan seksual di civitas
                    akademika. Besar harapan kami setelah kalian menemukan
                    website ini kalian para korban tidak ragu dan bingung harus
                    melakukan apa kedepannya. Kami menyediakan layanan
                    chatbot yang membahas seputar kekerasan seksual. Kami
                    juga menyediakan layanan rekomender system apabila
                    teman-teman membutuhkan. Jangan pernah takut untuk
                    terus maju kedepan, semangat untuk kamu para korban
                    kekerasan seksual. Semoga website ini dapat membantumu
                    pulih dan bangkit kembali
                </p>
            </div>
            <div class="absolute bottom-0 left-0">
                <img src="C:\xampp\htdocs\ProjectMISB\static\img\dashboard.png" alt="">
            </div>
            <div class="absolute bottom-5 right-5">
                <a href="#" class="flex items-center gap-1 text-white">
                    <div class="h-8 w-8 rounded-full bg-[#E4990D]"></div>
                    <img src="./icon/logout.png" alt="" class="h-6 w-6 object-cover">
                    <p>Logout</p>
                </a>
            </div>
        </div>
    </div>
</body>

</html>