<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hasil</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Laila' ;" class="bg-[#0A525A] h-screen text-[#0A525A]">
    <div class="h-full">
        <div class="w-full h-20 bg-[#F29F05] flex justify-end items-center px-10 gap-20">
            <a href="#" class="flex gap-1 text-white p-2 rounded-lg w-40 items-center justify-center whitespace-nowrap">
                <img src="./icon/dashboard.png" alt="" class="h-8 w-8">
                <p>Dashboard</p>
            </a>
            <a href="#" class="flex items-center gap-1 text-white">
                <div class="h-8 w-8 rounded-full bg-[#0A525A]"></div>
                <img src="./icon/logout.png" alt="" class="h-6 w-6 object-cover">
                <p>Logout</p>
            </a>
        </div>
        <div class="p-10">
            <div class="rounded-2xl bg-[#E7E6E6] relative">
                <div
                    class="border-b border-black py-5 absolute top-0 w-full bg-[#E7E6E6] rounded-t-2xl drop-shadow-2xl">
                    <h1 class="text-xl font-semibold text-center">Layanan Yang Tepat Untuk Anda :</h1>
                </div>
                <div class="p-16 pt-36">
                    <table class="border-separate  border-black border w-full ">
                        <thead>
                            <tr>
                                <th class="border border-slate-600">No</th>
                                <th class="border border-slate-600">Nama Lengkap</th>
                                <th class="border border-slate-600">Alamat</th>
                                <th class="border border-slate-600">No. Hp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border border-slate-600 text-center">1</td>
                                <td class="border border-slate-600">Malcolm Lockyer</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">2</td>
                                <td class="border border-slate-600">The Eagles</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">3</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">4</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">5</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">6</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">7</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">8</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">9</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                            <tr>
                                <td class="border border-slate-600 text-center">10</td>
                                <td class="border border-slate-600">Earth, Wind, and Fire</td>
                                <td class="border border-slate-600">Indonesia</td>
                                <td class="border border-slate-600">081234567890</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>