<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Recommender System</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Laila' ;" class="bg-[#0A525A] h-screen text-[#0A525A]">
    <div class="h-full">
        <div class="w-full h-20 bg-[#F29F05] flex justify-end items-center px-10 gap-20">
            <a href="#" class="flex gap-1 text-white p-2 rounded-lg w-40 items-center justify-center whitespace-nowrap">
                <img src="./icon/dashboard.png" alt="" class="h-8 w-8">
                <p>Dashboard</p>
            </a>
            <a href="#" class="flex items-center gap-1 text-white">
                <div class="h-8 w-8 rounded-full bg-[#0A525A]"></div>
                <img src="./icon/logout.png" alt="" class="h-6 w-6 object-cover">
                <p>Logout</p>
            </a>
        </div>
        <div class="p-10">
            <div class="rounded-2xl bg-[#E7E6E6] relative">
                <div
                    class="border-b border-black py-5 absolute top-0 w-full bg-[#E7E6E6] rounded-t-2xl drop-shadow-2xl">
                    <h1 class="text-xl font-semibold text-center">RECOMMENDER SYSTEM</h1>
                </div>
                <div class="p-4 pt-20">
                    <div class="grid grid-cols-2">
                        <div class="space-y-5">
                            <div class="flex flex-col space-y-2">
                                <label for="">Name: </label>
                                <input type="text" class="bg-[#E4990D] rounded-2xl h-8">
                            </div>
                            <div class="flex flex-col space-y-2">
                                <label for="">Gender: </label>
                                <input type="text" class="bg-[#E4990D] rounded-2xl h-8">
                            </div>
                            <div class="flex flex-col space-y-2">
                                <label for="">Age: </label>
                                <input type="number" class="bg-[#E4990D] rounded-2xl h-8">
                            </div>
                            <div class="flex flex-col space-y-2">
                                <label for="">Provinsi: </label>
                                <input type="text" class="bg-[#E4990D] rounded-2xl h-12">
                            </div>
                            <div class="space-y-2">
                                <p>Jenis Kekerasan Seksual yang didapatkan :</p>
                                <div class="flex justify-between">
                                    <button class="bg-[#E4990D] py-3 px-12 rounded-xl w-min whitespace-nowrap">
                                        <p>FISIK</p>
                                    </button>
                                    <button class="bg-[#E4990D] py-3 px-12 rounded-xl w-min whitespace-nowrap">
                                        <p>NON FISIK</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <div class="bg-[#0A525A] p-8 rounded-2xl mx-28 space-y-8">
                                <h4 class="text-[#F29F05] text-center text-xl">Anda Membutuhkan Pelayanan di Bidang?
                                </h4>
                                <div class="flex items-center justify-between">
                                    <button class="bg-[#E4990D] py-8 px-5 rounded-xl w-min whitespace-nowrap">
                                        <p>Psikologis</p>
                                    </button>
                                    <button class="bg-[#E4990D] py-8 px-5 rounded-xl w-min whitespace-nowrap">
                                        <p>Hukum</p>
                                    </button>
                                </div>
                                <div class="flex items-center justify-center">
                                    <button class="bg-[#E4990D] py-5 px-5 rounded-xl w-min whitespace-nowrap">
                                        <p>Psikologis <br> & <br> Hukum</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>